  <h1>Course Listing</h1>
  <ul>
    <li>Code: XI14</li>
    <li>Name: Coding </li>
    <li>Description: Here's a code about coding </li>
  </ul>

  <ul>
    <li>Code: X482</li>
    <li>Name: poetry </li>
    <li>Description: Here's a code about poetry </li>
  </ul>
